<html>
<head>
  <meta charset="utf-8">
  <title>Apus Project</title>
  <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
  <script src="../jquery/dist/jquery.min.js"></script>
  <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
  <script type=text/javascript src="../angular/angular.js"></script>
  <script type=text/javascript src="../js/stockController.js"></script>
</head>

<body ng-app="apusProject">
  <div ng-controller="stockController">
    <div class="container">
      <h3 class="text-center mt-5">Stock</h3>
      <div class="row">
        <div class="col col-md-3 offset-md-4 mx-auto">
          <form class="form-group mt-2 text-center" ng-submit="addStock()">
            <input class="mt-2" type="text" ng-model="newStock.product_id" placeholder="Enter the name of the stock">
            <input class="mt-2" type="text" ng-model="newStock.quantity" placeholder="Enter the quantity of the stock">
            <input class="mt-2" type="text" ng-model="newStock.date_time" placeholder="Enter the date of the stock">
            <input class="btn btn-outline-success mt-2 mx-auto" type="submit" value="Save Stock">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
