<html>
<head>
  <meta charset="utf-8">
  <title>Apus Project</title>
  <script src="../jquery/dist/jquery.min.js"></script>
  <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
  <script type=text/javascript src="../angular/angular.js"></script>
  <script type=text/javascript src="../js/productController.js"></script>

</head>
<body ng-app="apusProject">
  <div ng-controller="productController">
    <div class="container">
      <h3 class="text-center mt-5">Products</h3>
      <div class="row">
        <div class="col col-md-3 offset-md-4 mx-auto" ng-init="getProduct()">
          <form class="form-group mt-2 text-center" ng-submit="updateProduct(product.id)">
            <input class="mt-2" type="text" value="{{product.title}}" ng-model="product.title" placeholder="Enter the title of the product">
            <input class="mt-2" type="text" value="{{product.description}}" ng-model="product.description" placeholder="Enter the description of the product">
            <input class="mt-2" type="text" value="{{product.price}" ng-model="product.price" placeholder="Enter the price of the product">
            <input class="mt-2" type="text" value="{{product.quantity}}" ng-model="product.quantity" placeholder="Enter the quantity of the product">
            <div  ng-init="listCategories()">
              <select class="custom-select my-2" ng-model="product.category_id">
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
              </select>
            </div>
            <input class="btn btn-outline-success mt-2 mx-auto" type="submit" value="Update Product">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
